@CHARSET "ISO-8859-1";

#eggsort {
	background: url("Resources/images/chicken coup background.jpg") center/contain no-repeat;
}
#eggsort #dialog-box {
	z-index: 10;
	position: absolute;
	left: 350px;
	bottom: 310px;
	width: 730px;
	height: 80px;
	margin-left: 39px; /* 30px */
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 0 0 20px #F5EAC8, 0 0 0 25px #251C00;
	background: white;
	color: black;
	font-family: Unkempt, Arial;
	font-size: 32px;
	line-height: 30px;
	font-weight: bold;
	word-spacing: 3px;
	opacity: 0;
}

#eggsort #dialog-box:after, #dialog-box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#eggsort #dialog-box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #F5EAC8;
	border-width: 38px; /* 30px */
	margin-top: -35px;
	margin-right: 19px;
}

#eggsort #dialog-box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: black;
	border-width: 44px; /* 31px */
	margin-top: -42px; /* 31px */
	margin-right: 20px;
}

#eggsort .dialog-box-arrow {
	position: absolute;
	right: 10px;
	bottom: 10px;
	height: 0;
	width: 0;
	border-left: 10px solid red;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
}

#eggsort .dialog-continue {
	position: absolute;
	right: 30px;
	bottom: 10px;
	font-size: 18px;
	line-height: 18px;
}

#eggsort #dialog-head {
	z-index: 10;
	left: 100px;
	bottom: 260px;
	width: 200px;
	height: 200px;
	background: url('images/chicken.png') center/contain no-repeat;
	opacity: 0;
}

#eggsort #dialog-head.talking {
	background: url('images/chicken_2.png') center/contain no-repeat;
}

@keyframes conveyor-belt-move {
		from { background-position: -300px; }
		to { background-position: -92px; }		
	}

#eggsort #conveyor-belt  {
	z-index: 2;
	width: 100%;
	height: 160px;
	top: 100px;
	background: url("images/conveyor-belt.png") -475px 0/2032.66px 160px
		no-repeat;
	animation: conveyor-belt-move 1s linear infinite;
}

#eggsort #conveyor-rollers {
	z-index: 1;
	top: 260px;
	width: 100%;
	height: 35px;
	background: orange;
}

#eggsort .egg {
	-webkit-backface-visibility: hidden;
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 150px;
	height: 180px;
	transform: translateX(-150px);
}

#eggsort .nest {
	width: 250px;
	height: 180px;
	line-height: 30px;
	top: 360px;
}

#eggsort .nest .egg {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 120px;
}

#eggsort .nest .egg:nth-child(n+1) {
	margin-top: -100px;
	margin-left: -70px;
}

#eggsort .nest .egg:nth-child(-n+6) {
	margin-top: 0px;
}

#eggsort .nest .egg:nth-child(6n+1) {
	margin-left: 0px;
}

#eggsort .nest .ehh:first-child {
	margin-top: 0;
}

#eggsort #nest-1 {
	left: 120px;
}

#eggsort #nest-2 {
	left: 520px;
}

#eggsort #nest-3 {
	right: 135px;
}

#eggsort #greyout {
	z-index: 9;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.5;
}

#eggsort #tally-box {
	z-index: 10;
	left: 475px;
	top: 50%;
	width: 300px;
	height: 0px;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 0 0 20px #F5EAC8, 0 0 0 25px #251C00;
	background: white;
	display: none;
	opacity: 0;
	font-family: Unkempt, Arial, sans-serif;
	font-size: 90px;
	color: black;
}

#eggsort #tally-box .tally-row {
	position: relative;
	height: 100px;
	width: 100%;
	line-height: 100px;
}

#eggsort #tally-box .tally-row:last-child {
	border-top: 5px solid black;
	opacity: 0;
	text-align: center;
}

#eggsort #tally-box .tally-row div {
	position: absolute;
	top: 0;
	height: 100%;
	opacity: 0;
}

#eggsort #tally-box .tally-row .tally-egg-count {
	left: 0;
	width: 150px;
	font-size: 30px;
	text-align: center;
}

#eggsort #tally-box .tally-row .tally-egg-count:before {
	content: "(";
}

#eggsort #tally-box .tally-row .tally-egg-count:after {
	content: ")";
}

#eggsort #tally-box .tally-row .tally-multiplier {
	left: 160px;
	width: 50px;
	font-size: 30px;
	color: grey;
}

#eggsort #tally-box .tally-row .tally-score {
	left: 210px;
	width: 100px;
	height: 100%;
	font-size: 70px;
	text-align: center;
}

#eggsort .growth-display {    
		display: none;
	
		z-index: 10;

        width: 0px;
		height: 200px;
	
		padding: 15px;
		border-radius: 5px;
		
		box-shadow: 0 0 0 20px #F5EAC8, 0 0 0 25px #251C00;
		
		background: white;
		
		font-family: Unkempt, Arial, sans-serif;
		font-size: 90px;
		color: black;
		
		z-index: 10;
  		
  		right: 260px;
  		
  		top: 158px;
		
		overflow-x: hidden;
		opacity: 0.0;
	}

       #eggsort .growth-display > div {
            
            display: inline-block;
            position: absolute;
        
            width: 150px;
            height: 200px;
    
    		opacity: 0;
        }

               #eggsort .growth-display > div div:first-child {
            
                    position: absolute;
                
                    width: 150px;
                    height: 150px;
    
                    top: 0;
            
                }

                #eggsort .growth-display > div div:last-child {
            
                    position: absolute;
                
                    width: 150px;
                    height: 50px;
    
                    top: 150px;
    
                    font-family: Unkempt, Arial, sans-serif;
                    font-size: 30px;
    
                    line-height: 50px;
                    text-align: center;
                }

                    #eggsort .growth-display > div div:last-child:before {
                        content: '+';
                        font-family: Unkempt, Arial, sans-serif;
                    font-size: 30px;
                    }

            #eggsort .growth-display .token-display {
                   left: 15px;
            }

                #eggsort .growth-display .token-display .token-image {
                    background: url("Resources/images/coin.png") center/contain;
                }

            #eggsort .growth-display .xp-display {
                    left: 165px;
            }
        
                #eggsort .growth-display .xp-display .xp-image {
                    text-align: center;
                }
                
#eggsort .nav-buttons {    
    
        position: absolute;
    
		z-index: 10;

        width: 300px;
		height: 100px;
	
		padding: 15px;
		border-radius: 5px;
		
		box-shadow: 0 0 0 20px #F5EAC8, 0 0 0 25px #251C00;
		
		background: white;
		
		font-family: Unkempt, Arial, sans-serif;
		font-size: 90px;
		color: black;
		
		right: 260px;
		top: 460px;
		
		display: none;
		opacity: 0;
	}

    #eggsort .nav-buttons .button {
        
    position: absolute;
    
       font-size: 20px;
        height: 100px;
        width: 140px;
    
        line-height: 100px;
        text-align: center;
           
        color: white;
    
        border-radius: 5px;
        
        top: 15px;
    
        cursor: pointer;
    
    }

        #eggsort .nav-buttons  .button#reset {
            
            left: 15px;
    
            background: #BF3F3F;


}

#eggsort .nav-buttons  .button#back-to-main {
    left: 174px;
    background: green;
    
}

                