<!DOCTYPE html>
<html>
	<head>
		<title>FarmTown</title>
		
		<link href='http://fonts.googleapis.com/css?family=Unkempt:400,700' rel='stylesheet' type='text/css'>
		 
		<link href="main.min.css" rel="stylesheet" type="text/css">
		
		<link href="intro.game.css" rel="stylesheet" type="text/css">
		<link href="main.page.css" rel="stylesheet" type="text/css">
		<link href="egg.game.min.css" rel="stylesheet" type="text/css">

		<script src="jslibs/jquery-2.1.3.min.js"></script>
		<script src="jslibs/jquery.transit.min.js"></script>
		<script src="jslibs/interact-1.2.4.min.js"></script>
		
		<script type="text/javascript" src="data-module.js"></script>
		<script type="text/javascript" src="switching.js"></script>
		
		<script type="text/javascript" src="sequential-module.js"></script>
		<script type="text/javascript" src="dialog-module.js"></script>
		<script type="text/javascript" src="animal-module.js"></script>
		<script type="text/javascript" src="field-module.js"></script>
		<script type="text/javascript" src="dropzone-module.js"></script>
		
		<script type="text/javascript" src="intro.game.js"></script>
		<script type="text/javascript" src="main.page.js"></script>
		<script type="text/javascript" src="egg.game.js"></script>
		
	</head>
	<body>
	
	<div id="intro" class="layer">
		<audio src="audio/bgm.mp3"></audio>
		<div class="field"></div>
		<div class="truck"></div>
		<div class="dialog-head"></div>
		<div class="dialog-box"></div>
	</div>
	
	<div id="main" class="layer">
		<div id="pig_pen-link" class="layer-switcher task" data-targetLayer="pigpen">
			<div class="menuTitle">Pig Pen</div>
		</div>
		<div id="stable-link" class="layer-switcher task" data-targetLayer="stable">
			<div class="menuTitle">Stable</div>
		</div>
		<div id="sheep_pen-link" class="layer-switcher task" data-targetLayer="shearing">
			<div class="menuTitle">Sheep Pen</div>
		</div>
		<div id="chicken_coup-link" class="layer-switcher task" data-targetLayer="eggsort">
			<div class="menuTitle">Chicken Coop</div>
		</div>
		<div id="shop-link" class="layer-switcher nav"></div>
		<div id="achievements-link" class="layer-switcher nav"></div>
		
		<span id="_money" class="money">money</span> <span id="_xp" class="xp">xp</span>
		<button id="_reset">RESET</button>
	</div>
	
	<div id="eggsort" class="layer">
		<audio src="audio/task.mp3"></audio>
		<div id="conveyor-belt"></div>
		<div id="conveyor-rollers"></div>
		<div class="nest" id="nest-1"></div>
		<div class="nest" id="nest-2"></div>
		<div class="nest" id="nest-3"></div>
		<div id="dialog-head"></div>
		<div id="dialog-box"></div>
		<div id="greyout"></div>
		<div id="tally-box">
			<div class="tally-row" id="tally-speed-1">
				<div class="tally-egg-count"></div>
				<div class="tally-multiplier">x 1</div>
 					<div class="tally-score"></div>
			</div>
			<div class="tally-row" id="tally-speed-2">
				<div class="tally-egg-count"></div>
 					<div class="tally-multiplier">x 2</div>
 					<div class="tally-score"></div>
			</div>
			<div class="tally-row" id="tally-speed-3">
				<div class="tally-egg-count"></div>
				<div class="tally-multiplier">x 3</div>
 					<div class="tally-score"></div>
			</div>
			<div class="tally-row" id="tally-total-score">
			</div>
		</div>
	</div>
</body>
</html>