@CHARSET "UTF-8";

@keyframes .dialog-box-arrow-anim {
   from { margin-top: 58px; }
     to { margin-top: 67px; }
}

.rpg-dialog-arrow {

	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid red;
	height: 0; 
	margin: 60px 0px 0px 360px;
	position: absolute;
	width: 0; 
	animation: .rpg-dialog-arrow-anim .3s steps(3) infinite;

}

.rpg-dialog {
	
	position: absolute;
	
	left: 400px;
	bottom: 80px;
	
	width: 730px;
	height: 90px;
	
	margin-left: 39px; /* 30px */
	padding: 15px;

	border-radius: 5px;
	
	box-shadow: 0 0 0 20px #F5EAC8, 0 0 0 21px #251C00;
	
	background: white;
	
	color: black;
	font-family: Arial;
	font-size: 18px; /* 18px */
	font-weight: bold;	
	text-transform: uppercase;
	word-spacing: 3px; /* 3px */
	
}

.rpg-dialog:after, .rpg-dialog:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	margin-right: 19px; /* 4 px */
}

.rpg-dialog:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #F5EAC8;
	border-width: 38px; /* 30px */
	margin-top: -35px;
}

.rpg-dialog:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: black;
	border-width: 40px; /* 31px */
	margin-top: -37px; /* 31px */
}