@CHARSET "ISO-8859-1";


#shearing .wool {
  padding: 0px;
    width: 150px;
    height: 100px;
    
  position: absolute;
  box-shadow: 0 0 0 20px #F5EAC8, 0 0 0 25px #251C00;
  border-radius: 5px;
  
  background: white;
}

#shearing .wool div {
    position: absolute;
    
}

#shearing .wool .wool-name {
    top: 0;
    left: 0;
    height: 40px;
    width: 90px;
    
    
    font-size: 25px;
    
    line-height: 40px;
    text-align: center;
}

#shearing .wool .wool-collected {
    height: 40px;
    width: 60px;
    
    color: black;
    
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    
    left: 90px;
    top: 0;
    border-top-right-radius: 5px;
}

#shearing .wool .wool-color {
    bottom: 0;
    left: 0;
    
    width: 150px;
    height:50px;
    
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

#shearing.layer {				
	background: url("images/sheep_field_background.jpg") center/contain no-repeat;
	
}	
	
#shearing #dialog-head {
	z-index: 10;
	
	width: 300px;
    height: 300px;
    
    position: absolute;
    left: 40px;
    bottom:  230px;
    
    background: url('images/sheep.png') center/contain no-repeat;
    
    opacity: 0;
	
}

#shearing .field {
	
	width: 1000px;
    height: 500px;

    left: 50px;
    top:  40px;
	
}



#shearing #wool-color-1 {
    font-family: Unkempt, Arial;
	
	right: 57px;
    top:  65px;
	
}

#shearing #wool-color-2 {
	
	font-family: Unkempt, Arial;
	
	right: 57px;
    top:  225px;
	
}

#shearing #wool-color-3 {
	
    font-family: Unkempt, Arial;
	
    right: 57px;
    top:  382px;
	
}
	
#shearing #not-required-wool {
		z-index = 1;
		width: 40px;
		height: 40px;
		border: 1px solid red;
		
		position: absolute;
		right: 57px;
		top: 450px;
}

#shearing .dialog-box {
	
	z-index: 10;
	
	width: 635px;
    height: 100px;

	position: absolute;
    left: 400px;
	bottom: 310px;
    
    box-shadow: 0 0 0 20px #F5EAC8, 0 0 0 25px #251C00;
	
	border-radius: 5px;
	
	background: white;
		
	color: black;
	font-family: Unkempt, Arial;
	font-size: 30px;
	
	line-height: 30px;
	font-weight: bold;
	word-spacing: 3px;    
	
	opacity: 0;
    
}

		#shearing .dialog-box:after, .dialog-box:before {
			right: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		
		#shearing .dialog-box:after {
			border-color: rgba(136, 183, 213, 0);
			border-right-color: #F5EAC8;
			border-width: 38px; /* 30px */
			margin-top: -35px;
			margin-right: 19px;
		}
		
		#shearing .dialog-box:before {
			border-color: rgba(194, 225, 245, 0);
			border-right-color: black;
			border-width: 44px; /* 31px */
			margin-top: -42px; /* 31px */
			margin-right: 20px;
		}
		
		#shearing .dialog-box-text {
			
			position: absolute;
			left: 20px;
			top: 20px;
			width: 90%;
			height: 90px;
			
		}
		
			#shearing .dialog-box.with-image-left .dialog-box-text {			

				left: 120px;
				
				width: 610px;
				
			}
			
			#shearing .dialog-box.with-image-right .dialog-box-text {
			
				right: 120px;
				
				width: 610px;
			}
			
			
		
		#shearing .dialog-box-arrow {
		
			position: absolute;
		
			right: 10px;
			bottom: 10px;
			
			height: 0; 
			width: 0; 
		
			border-left: 10px solid red;
			border-bottom: 10px solid transparent;
			border-top: 10px solid transparent;
		
		}
		
		#shearing .dialog-continue {
		
			  position: absolute;
			  
			  right: 30px;
			  bottom: 10px;
			  
			  font-size: 18px;
			  line-height: 18px;
		
		}
	
	#shearing #greyout {
		z-index: 10;

		width: 100%;
		height: 100%;
	
		background: black;
		
		opacity: 0.5;
	
	}
	
	
	#shearing .animal {
	
		z-index: 2;
	
		position: absolute;
		top: 0;
		left: 0;
	
		width: 125px;
		height: 125px;
		
		cursor: url('Resources/images/shears.png'), auto;
	
	}

	#shearing .animal.black_sheep {
	
		background: url('images/black_sheep.png') center/cover no-repeat, url("images/shadow.png") bottom/contain no-repeat;
	
	}
	
		#shearing .animal.black_sheep.panic {
		
			background: url('images/black_sheep_2.png') center/cover no-repeat, url("images/shadow.png") bottom/contain no-repeat;
		
		}

	#shearing .animal.blue_sheep {
	
		background: url('images/blue_sheep.png') center/cover no-repeat, url("images/shadow.png") bottom/contain no-repeat;
	
	}
	
		#shearing .animal.blue_sheep.panic {
		
			background: url('images/blue_sheep_2.png') center/cover no-repeat, url("images/shadow.png") bottom/contain no-repeat;
		
		}

	#shearing .animal.red_sheep {
	
		background: url('images/red_sheep.png') center/cover no-repeat, url("images/shadow.png") bottom/contain no-repeat;
	
	}
	
		#shearing .animal.red_sheep.panic {
		
			background: url('images/red_sheep_2.png') center/cover no-repeat, url("images/shadow.png") bottom/contain no-repeat;
		
		}

	#shearing .animal.green_sheep {
	
		background: url('images/green_sheep.png') center/cover no-repeat, url("images/shadow.png") bottom/contain no-repeat;
	
	}
	
		#shearing .animal.green_sheep.panic {
		
			background: url('images/green_sheep_2.png') center/cover no-repeat, url("images/shadow.png") bottom/contain no-repeat;
		
		}

	#shearing #tally-box {
		z-index: 10;
		
		left: 490px;
		top: 50%;
		
		width: 300px;
		height: 0px;
	
		padding: 15px;
		border-radius: 5px;
		
		box-shadow: 0 0 0 20px #F5EAC8, 0 0 0 25px #251C00;
		
		background: white;

		display: none;
		opacity: 0;
		
		font-family: Unkempt, Arial, sans-serif;
		font-size: 50px;
		color: black;
		
	}
		#shearing #tally-box .tally-row {
			
			position: relative;
			
			height: 133.33px;
			width: 100%;
		
			line-height: 133.33px;
			
			opacity: 0;
		}
	
		#shearing #tally-box .tally-row .tally-detail {
			
			position: absolute;
			
			height: 133.33px;
			width: 200px;
		
			line-height: 133.33px;
			text-align: center;
		}
			
			
			#shearing #tally-box .tally-row .tally-detail span.detail-content {
				display: inline-block;
				vertical-align: middle;
				line-height: 50px;
				color: grey;
			}
			
			#shearing #tally-box .tally-row:last-child .tally-detail span.detail-content {
				color: black;
			}
			
		#shearing #tally-box .tally-row .tally-value {
			position: absolute;
			
			width: 100px;
			height: 133.33px;
			
			line-height: 133.33px;
			text-align: center;
			
			left: 200px;
		}

		#shearing .growth-display {    
		display: none;
	
		z-index: 10;

        width: 0px;
		height: 200px;
	
		padding: 15px;
		border-radius: 5px;
		
		box-shadow: 0 0 0 20px #F5EAC8, 0 0 0 25px #251C00;
		
		background: white;
		
		font-family: Unkempt, Arial, sans-serif;
		font-size: 90px;
		color: black;
		
		z-index: 10;
  		
  		right: 260px;
  		
  		top: 158px;
		
		overflow-x: hidden;
		opacity: 0.0;
	}

       #shearing .growth-display > div {
            
            display: inline-block;
            position: absolute;
        
            width: 150px;
            height: 200px;
    
    		opacity: 0;
        }

               #shearing .growth-display > div div:first-child {
            
                    position: absolute;
                
                    width: 150px;
                    height: 150px;
    
                    top: 0;
            
                }

                #shearing .growth-display > div div:last-child {
            
                    position: absolute;
                
                    width: 150px;
                    height: 50px;
    
                    top: 150px;
    
                    font-family: Unkempt, Arial, sans-serif;
                    font-size: 30px;
    
                    line-height: 50px;
                    text-align: center;
                }

                    #shearing .growth-display > div div:last-child:before {
                        content: '+';
                        font-family: Unkempt, Arial, sans-serif;
                    font-size: 30px;
                    }

            #shearing .growth-display .token-display {
                   left: 15px;
            }

                #shearing .growth-display .token-display .token-image {
                    background: url("Resources/images/coin.png") center/contain;
                }

            #shearing .growth-display .xp-display {
                    left: 165px;
            }
        
                #shearing .growth-display .xp-display .xp-image {
                    background: url("Resources/images/xp icon.png") center/contain;
                }
                
#shearing .nav-buttons {    
    
        position: absolute;
    
		z-index: 10;

        width: 300px;
		height: 100px;
	
		padding: 15px;
		border-radius: 5px;
		
		box-shadow: 0 0 0 20px #F5EAC8, 0 0 0 25px #251C00;
		
		background: white;
		
		font-family: Unkempt, Arial, sans-serif;
		font-size: 30px;
		color: black;
		
		right: 260px;
		top: 460px;
		
		display: none;
		opacity: 0;
	}

    #shearing .nav-buttons .button {
        
    position: absolute;
    
        height: 100px;
        width: 140px;
    
        line-height: 100px;
        text-align: center;
           
        color: white;
    
        border-radius: 5px;
        
        top: 15px;
    
        cursor: pointer;
    
    }

        #shearing .nav-buttons  .button#reset {
            
            left: 15px;
    
            background: #BF3F3F;


}

#shearing .nav-buttons  .button#back-to-main {
    left: 174px;
    background: green;
    
}