<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>FarmTails</title>
		
		
		<link href='http://fonts.googleapis.com/css?family=Unkempt:400,700' rel='stylesheet' type='text/css'>
	
		<link rel="stylesheet" type="text/css" href="main.min.css">
		<link rel="stylesheet" type="text/css" href="shop.page.css">
		
		<script type="text/javascript" src="shop.page.js"></script>
		
	</head>
	<body>
		<div id="shop" class="layer">
			<div id="shop-title">
				FarmReTails
			</div>
			<div class="item-row" id="truck-row">
				<div class="item locked">
					<div class="item-image">
					</div>
					<div class="item-price">
						5000
					</div>
					<div class="bought">bought</div>
				</div>
				<div class="item locked">
					<div class="item-image">
					</div>
					<div class="item-price">
						25000
					</div>
					<div class="bought">bought</div>
				</div>
				<div class="item locked">
					<div class="item-image">
					</div>
					<div class="item-price">
						100000
					</div>
					<div class="bought">bought</div>
				</div>
				<div class="row-accompanying-text">
					<span class="text-body">buy new tractors</span> 
				</div>
			</div>
			<div class="item-row" id="property-row">
				<div class="item locked">
					<div class="item-image">
					</div>
					<div class="item-price">
						5000
					</div>
					<div class="bought">bought</div>
				</div>
				<div class="item locked">
					<div class="item-image">
					</div>
					<div class="item-price">
						25000
					</div>
					<div class="bought">bought</div>
				</div>
				<div class="item locked">
					<div class="item-image">
					</div>
					<div class="item-price">
						100000
					</div>
					<div class="bought">bought</div>
				</div>
				<div class="row-accompanying-text">
					<span class="text-body">buy new property</span>
			</div>
				</div>
			<div id="dialog-head">
			</div>
			<div id="dialog-box">
				Hello, dear.
				What would you like to buy today?
			</div>
			<div id="exit">
			</div>
		</div>
	</body>
</html>