@CHARSET "ISO-8859-1";
  
  #splash {
	  background: url("Resources/images/title.png") center/contain no-repeat, url("Resources/images/background.jpg") center/contain no-repeat;
	  z-index: 12;
	  display: block;
  }
  
  	#splash #is-loading {
  		
  		  height: 100px;
		  width: 500px;
		  font-family: Unkempt, Arial, sans-serif;
		  font-size: 80px;
		  position: absolute;
		  color: white;
		  bottom: 100px;
		  left: 500px;
		}
