body, html { 
	
	
	min-width: 1280px;
	min-height: 720px;
	
	width: 100%;
	height: 100%;
	
	margin: 0;
	padding: 0;
	
}

#game {

	position: fixed;
	
	top: 50%;
	left: 50%;
	
	margin-top: -360px; 
	margin-left: -640px;
	
	width: 1280px;
	height: 720px;
	
	background: url("images/background_flipped.jpg") center/cover;
}

	#game > * {
		
		position: absolute;
	
	}
	
	.field {
	
		z-index: 1;
		
		left: 50px;
		top: 50px;
	
		width: 980px;
		height: 400px;
	
	}
	
	.animal {
	
		z-index: 1;
	
		position: absolute;
		top: 0;
		left: 0;
	
		width: 150px;
		height: 150px;
	
	}
	
	.animal.cow {
	
		background: url('images/cow.png') center/cover no-repeat, url("images/shadow.png") bottom/contain no-repeat;
	
	}
	
	.animal.pig {
	
		background: url('images/pig.png') center/cover no-repeat, url("images/shadow.png") bottom/contain no-repeat;
	
	}
	
		.animal.pig.panic {
	
			background: url('images/pig_2.png') center/cover no-repeat, url("images/shadow.png") bottom/contain no-repeat;
		
		}
	
	.animal.horse {
	
		background: url('images/horse.png') center/cover no-repeat, url("images/shadow.png") bottom/contain no-repeat;
	
	}
	
	.animal.sheep {
	
		background: url('images/sheep.png') center/cover no-repeat, url("images/shadow.png") bottom/contain no-repeat;
	
	}
	
		.animal.sheep.panic {
		
			background: url('images/sheep_2.png') center/cover no-repeat, url("images/shadow.png") bottom/contain no-repeat;
		
		}
	
	.dialog-head {
	
		z-index: 2;
	
		left: 100px;
		bottom: 0;
		
		width: 300px;
		height: 300px;
	
		background: url('images/moustache.png') 50% 155px/26.5% auto no-repeat, url('images/farmer-nostache.png') center/contain no-repeat;
			
	}
	
		@keyframes dialog-head-talking {
		
			from { background-position: 50% 155px, center; }
			to { background-position: 50% 150px, center; }
		
		}
	
		.dialog-head.talking {
	
			background: url('images/moustache.png') 50% 155px/26.5% auto no-repeat, url('images/farmer-nostache.png') center/contain no-repeat;
			animation: dialog-head-talking 0.1s linear 0.03s infinite alternate;

		}
		
		
	.dialog-box {
	
		z-index: 2;
	
		position: absolute;
		
		left: 400px;
		bottom: 80px;
		
		width: 730px;
		height: 90px;
		
		margin-left: 39px; /* 30px */
		padding: 15px;
	
		border-radius: 5px;
		
		box-shadow: 0 0 0 20px #F5EAC8, 0 0 0 25px #251C00;
		
		background: white;
		
		color: black;
		font-family: Unkempt, Arial;
		font-size: 32px;
		line-height: 30px;
		font-weight: bold;
		word-spacing: 3px;
		
	}
	
		.dialog-box:after, .dialog-box:before {
			right: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		
		.dialog-box:after {
			border-color: rgba(136, 183, 213, 0);
			border-right-color: #F5EAC8;
			border-width: 38px; /* 30px */
			margin-top: -35px;
			margin-right: 19px;
		}
		
		.dialog-box:before {
			border-color: rgba(194, 225, 245, 0);
			border-right-color: black;
			border-width: 44px; /* 31px */
			margin-top: -42px; /* 31px */
			margin-right: 20px;
		}
		
		.dialog-box-image {

			position: absolute;
			
			width: 0;
			height: 90px;
			
			background: center/contain no-repeat;
			
		}
		
			.dialog-box.with-image-left .dialog-box-image {
			
				left: 15px;
				
				width: 90px;
				
			}
			
			.dialog-box.with-image-right .dialog-box-image {
		
				right: 15px;
				
				width: 90px;
				
			}
		
		.dialog-box-text {
			
			position: absolute;
			
			width: 100%;
			height: 90px;
			
		}
		
			.dialog-box.with-image-left .dialog-box-text {			

				left: 120px;
				
				width: 610px;
				
			}
			
			.dialog-box.with-image-right .dialog-box-text {
			
				right: 120px;
				
				width: 610px;
			}
			
			
		
		.dialog-box-arrow {
		
			position: absolute;
		
			right: 10px;
			bottom: 10px;
			
			height: 0; 
			width: 0; 
		
			border-left: 10px solid red;
			border-bottom: 10px solid transparent;
			border-top: 10px solid transparent;
		
		}
		
		.dialog-continue {
		
			  position: absolute;
			  
			  right: 30px;
			  bottom: 10px;
			  
			  font-size: 18px;
			  line-height: 18px;
		
		}
	
	.truck {
	
		z-index: 0;
	
		position: absolute;
	
		width: 220px;
		height: 450px;
	
		right: 0;
		bottom: 200px;
	
		background: url("images/truck.png") bottom/contain no-repeat;
	
	}
	
		@keyframes drop-hover-animation {
		
			0% { background-position: 60px 80px, bottom; }
			100% { background-position: 60px 120px, bottom; }
			
		}
	
	
		.truck.drop-hover {
		
				background: url("images/arrow.png") 60px 80px / 100px auto no-repeat, url("images/truck.png") bottom/contain no-repeat;
				animation: drop-hover-animation 1s ease-in-out infinite alternate;
				
		}
		
		@keyframes wrong-hover-animation {
		
			0% { background-size: 100px auto, contain; }
			100% { background-size: 0 0, contain; }
			
		}
	
		
		.truck.wrong-hover {
		
				background: url("images/denied.png") 60px 120px / 100px auto no-repeat, url("images/truck.png") bottom/contain no-repeat;
				animation: wrong-hover-animation 0.5s linear infinite alternate;
						
		}
		
		
		
	

